{% extends "base.html" %}

{% block nav_button %}
    <a href="{{url_for('logout')}}" class="logout-btn">Logout</a>
{% endblock %}

{% block content %}
<div>
    <a href="{{ url_for('create_event') }}" class="button-link">Create Event</a>
</div>
<div>
    <a href="{{url_for('search')}}" class="search-btn">Search</a>
</div>
    <h2>Events</h2>
    <ul>
        {% for event in events %}
        <li>
            <strong>Event Name:</strong> {{ event.event_name }}<br>
            <strong>Start Date:</strong> {{ event.start_date }}<br>
            <strong>End Date:</strong> {{ event.end_date }}<br>
            <strong>Start Time:</strong> {{ event.start_time }}<br>
            <strong>End Time:</strong> {{ event.end_time }}<br>
            <strong>Location:</strong> {{ event.location }}<br>
            <strong>Description:</strong> {{ event.description }}<br>
            <a href="{{ url_for('edit_event', event_id=event.id) }}">Edit</a>
            <a href="{{ url_for('delete_event', event_id=event.id) }}">Delete</a>
            <br>
        </li>
        {% else %}
        <li>No events found.</li>
        {% endfor %}
    </ul>

{% endblock %}

