{% extends "base.html" %}

{% block content %}
<h1>Fill in the details</h1>
    <form action="{{url_for('create_event')}}" method="POST">
        <label for="event_name">Event Name:</label><br>
        <input type="text" id="event_name" name="event_name" required><br><br>
        
        <label for="start_date">Start Date:</label><br>
        <input type="date" id="start_date" name="start_date" required><br><br>
        
        <label for="end_date">End Date:</label><br>
        <input type="date" id="end_date" name="end_date" required><br><br>
        
        <label for="start_time">Start Time:</label><br>
        <input type="time" id="start_time" name="start_time" required><br><br>
        
        <label for="end_time">End Time:</label><br>
        <input type="time" id="end_time" name="end_time" required><br><br>
        
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location" required><br><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>
        
        <input type="submit" value="Submit">
        <a href="/admin" class="button-link">Cancel</a>
    </form>

    {% if success_message %}
    <div id="success-modal" >
        <!--div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px;"-->
            <h3>{{ success_message }}</h3>
            <button onclick="window.location.href='/admin'">OK</button>
        <!--/div-->
    </div>
    {% endif %}

    {% if failure_message %}
    <div id="failure-modal" >
        <!--div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px;"-->
            <h3>{{ failure_message }}</h3>
            <button onclick="window.location.href='/admin'">OK</button>
        <!--/div-->
    </div>
    {% endif %}
    {% endblock %}