{% extends "base.html" %}

{% block content %}
<h2>Edit Event</h2>
<form action="{{ url_for('edit_event', event_id=event.id) }}" method="POST">
    <label for="event_name">Event Name:</label><br>
    <input type="text" id="event_name" name="event_name" value="{{ event.event_name }}" required><br><br>

    <label for="start_date">Start Date:</label><br>
    <input type="date" id="start_date" name="start_date" value="{{ event.start_date }}" required><br><br>

    <label for="end_date">End Date:</label><br>
    <input type="date" id="end_date" name="end_date" value="{{ event.end_date }}" required><br><br>

    <label for="start_time">Start Time:</label><br>
    <input type="time" id="start_time" name="start_time" value="{{ event.start_time }}" required><br><br>

    <label for="end_time">End Time:</label><br>
    <input type="time" id="end_time" name="end_time" value="{{ event.end_time }}" required><br><br>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" value="{{ event.location }}" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required>{{ event.description }}</textarea><br><br>

    <input type="submit" value="Update">
    <a href="{{ url_for('admin') }}" class="button-link cancel-button">Cancel</a>
</form>
{% endblock %}