{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-end">
    {% if 'loggedIn' in session %}
        <a href="{{ url_for('admin') }}" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Back</a>
    {% else %}
        <a href="{{ url_for('index') }}" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Back</a>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Event Search</h1>
            <form action="{{ url_for('search_event') }}" method="GET">
                <div class="mb-3">
                    <label for="event_name" class="form-label">Event Name:</label>
                    <input type="text" id="event_name" name="event_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="start_date" class="form-label">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="end_date" class="form-label">End Date:</label>
                    <input type="date" id="end_date" name="end_date" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Search Results</h2>
            {% if events %}
                <ul class="list-group">
                {% for event in events %}
                    <li class="list-group-item">
                        <h3 class="mb-1">{{ event.event_name }}</h3>
                        <p><strong>Start Date:</strong> {{ event.start_date }}</p>
                        <p><strong>End Date:</strong> {{ event.end_date }}</p>
                        <p><strong>Start Time:</strong> {{ event.start_time }}</p>
                        <p><strong>End Time:</strong> {{ event.end_time }}</p>
                        <p><strong>Location:</strong> {{ event.location }}</p>
                        <p><strong>Description:</strong> {{ event.description }}</p>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No events found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
